# Database
  SPRING_DATASOURCE_URL=your_database_name
  SPRING_DATASOURCE_USERNAME=your_username
  SPRING_DATASOURCE_PASSWORD=your_password

  # JWT
  JWT_SECRET_KEY=your_secret_key_min_256_bits

  # Mail
  SUPPORT_EMAIL=your_email@gmail.com
  APP_PASSWORD=your_app_password